.main {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 16px;
}

.title {
  font-weight: 600;
  font-size: 24px;
}

.description {
  font-weight: 500;
  color: #94a3b8;
}

.titlebar {
  display: flex;
  align-items: center;
  gap: 22px;
  margin-bottom: 32px;
}

.closeButton {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 44px;
  width: 44px;
  border-radius: 22px;
  color: #0f172a;
  background-color: #f1f5f9;
  margin-left: auto;
  cursor: pointer;
  flex-shrink: 0;
}

.closeButton:hover {
  background-color: #e2e8f0;
}

.titleContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 4px;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  overflow: auto;
  flex: 1;
}

.status {
  display: flex;
  align-items: center;
  padding: 16px;
  gap: 8px;
  border-radius: 5.5px;
  font-weight: 550;
  border: 1px solid #e2e8f0;
  cursor: pointer;
  color: #334155;
  background-color: white;
  box-shadow: 0 2px 3px #f1f5f9, 0 -1px #e2e8f0 inset;
}

.status:hover {
  background-color: #f8fafc;
  border: 1px solid #cbd5e1;
}
