.main {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 44px;
  border-radius: 5.5px;
  padding: 0 22px;
  font-weight: 500;
  gap: 8px;
  flex-shrink: 0;
  border: 1px solid #e2e8f0;
  background-color: white;
  box-shadow: 0 2px 3px #f8fafc, 0 -1px #e2e8f0 inset;
}

.main:disabled {
  color: #94a3b8;
  background-color: #f8fafc;
  cursor: not-allowed;
}

.main:hover:not(:disabled) {
  background-color: #f8fafc;
}

.main.primary {
  font-weight: 600;
  background-color: #2563eb;
  color: white;
  border: none;
  box-shadow: 0 -2px #1e40af inset, 0 1px #3b82f6 inset;
}

.main.primary:hover:not(:disabled) {
  background-color: #3b82f6;
  box-shadow: 0 -2px #2563eb inset, 0 1px #60a5fa inset;
}

.main.primary:disabled {
  color: #60a5fa;
  cursor: not-allowed;
}

@media (max-width: 700px) {
  .main.shrinks {
    padding: 0;
    width: 44px;
  }
  .main.shrinks > span {
    display: none;
  }
}
