.main {
  position: fixed;
  bottom: 22px;
  padding: 11px 22px;
  border-radius: 11px;
  font-weight: 600;
  background-color: #1e293b;
  backdrop-filter: blur(8px);
  box-shadow: 0 4px 16px #f1f5f9;
  color: white;
  left: 50%;
  transform: translate(-50%, 0);
  border: 1px solid white;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  animation: 0.2s toast;
  z-index: 9999;
}

.main:hover {
  background-color: #1e293b;
}

@keyframes toast {
    0% {
        transform: translate(-50%, 0) translateY(22px);
        opacity: 0;
    }
    100% {
        transform: translate(-50%, 0) translateY(0);
        opacity: 1;
    }
}