.main {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: auto;
  padding: 0 16px;
  background-color: #f8fafc;
}

.list {
  display: flex;
  flex-direction: column;
  padding: 64px 0;
  max-width: 800px;
  width: 100%;
  gap: 11px;
  margin: 0 auto;
}

.title {
  font-size: 32px;
  color: #1e293b;
  font-weight: 600;
}

.description {
  font-size: 16px;
  color: #64748b;
  font-weight: 500;

  line-height: 1.5;
}

.subtitle {
  font-size: 18px;

  font-weight: 500;
}

.subtitleContainer {
  display: flex;
  align-items: center;
  color: #64748b;
  gap: 8px;
  margin: 44px 0 22px 0;
}

.code {
  font-family: monospace, monospace;
  font-size: 16px;
  line-height: 1.2;
  white-space: pre-wrap;
  color: #334155;
  border-radius: 5.5;
  padding: 11px;
  overflow-x: auto;
}

.userContainer {
  display: flex;
  align-items: center;
  gap: 8px;
}

.userContainer > .name {
  margin-right: auto;
  font-weight: 600;
  color: #1e293b;
}
