.main {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: auto;
  padding: 0 16px;
  background-color: #f8fafc;
}

.list {
  display: flex;
  flex-direction: column;
  padding: 64px 0;
  max-width: 800px;
  width: 100%;
  gap: 11px;
  margin: 0 auto;
}

.title {
  font-size: 32px;
  color: #1e293b;
  font-weight: 600;
}

.description {
  font-size: 16px;
  color: #64748b;
  font-weight: 500;

  line-height: 1.5;
}

.subtitle {
  font-size: 18px;

  font-weight: 500;
}

.subtitleContainer {
  display: flex;
  align-items: center;
  color: #64748b;
  gap: 8px;
  margin: 44px 0 22px 0;
}

.button {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #e2e8f0;
  height: 44px;
  border-radius: 5.5px;
  padding: 0 22px;
  font-weight: 500;
  gap: 8px;
  background-color: white;
  align-self: flex-start;
  color: #334155;
  box-shadow: 0 2px 3px #f8fafc, 0 -1px #e2e8f0 inset;
}

.button:hover {
  background-color: #f8fafc;
}

.code {
  font-family: monospace, monospace;
  font-size: 16px;
  line-height: 1;
  white-space: pre-wrap;
  color: #10b981;
  border-radius: 5.5;
  background-color: #ecfdf5;
  padding: 11px;
  overflow-x: auto;
}

.userContainer {
  display: flex;
align-items: center;
gap: 8px;
}

.userContainer > .name {
  margin-right: auto;
  font-weight: 600;
  color: #1e293b;
}