.main {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #f1f5f9;
  height: 44px;
  border-radius: 5.5px;
  padding: 0 22px;
  font-weight: 500;
  gap: 8px;
  box-shadow: 0 2px 3px #f1f5f9;
}

.main:hover {
  background-color: #f8fafc;
}