.main {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.label {
  color: #475569;
  font-weight: 550;
  font-size: 16px;
}

.main input {
  height: 44px;
  padding: 0 11px;
  cursor: text;
  color: #0f172a;
  border-radius: 5.5px;
  border: 1px solid #cbd5e1;

  margin: 3px 0;
  transition: border 0.1s ease, box-shadow 0.1s ease, margin 0.1s ease;
}

.main input::placeholder {
  color: #94a3b8;
}

.main input::-webkit-input-placeholder {
  color: #94a3b8;
}

.required {
  color: #dc2626;
}

.main input:focus {
  border: 2px solid #2563eb;
  box-shadow: 0 2px 2px -1px #94a3b877, 0 0 0 3px #dbeafe;
  margin: 3px;
}