.main {
  display: flex;
  flex-direction: column;
  border: 1px solid #e2e8f0;
  border-radius: 11px;
  box-shadow: 0 2px 3px #f1f5f9, 0 -1px #e2e8f0 inset;
  background-color: white;
  color: #1e293b;
  overflow: hidden;
}

.content {
  display: flex;
  flex-direction: column;
  border-top: 1px solid #e2e8f0;
}

.button {
  cursor: pointer;
  cursor: pointer;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 16px;
}

.main:hover {
  border: 1px solid #cbd5e1;
}

.main:hover .button {
  background-color: #f1f5f9;
}
