.main {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: auto;
  padding: 0 16px;
}

.list {
  display: flex;
  flex-direction: column;
  padding: 64px 0;
  max-width: 800px;
  width: 100%;
  gap: 11px;
  margin: 0 auto;
}

.date {
  font-size: 24px;
  color: #64748b;
  font-weight: 500;
}

.today {
  background-color: #dbeafe;
  color: #2563eb;
  padding: 4px 8px;
  border-radius: 5.5px;
}

.today > span {
  font-size: 18px;
  font-weight: 550;
}

.headerContainer {
  margin: 16px 0;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px;
  border-top: 1px solid #f1f5f9;
  padding-top: 22px;
}
