.main {
  min-width: 250px;
  display: flex;
  flex-direction: column;
  border-right: 1px solid #f1f5f9;
}

.main h1 {
    font-weight: 600;
    padding: 22px;
    font-size: 24px;
    color: #1e293b;
    display: inline;
    font-feature-settings: "cv11", "cv06", "cv10", "cv12";
}