.main {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 16px;
}

.titleContainer h1 {
  font-weight: 600;
  font-size: 24px;
}

.titleContainer span {
  font-weight: 500;
  color: #94a3b8;
}

.titlebar {
  display: flex;
  align-items: center;
  gap: 22px;
}

.closeButton {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 44px;
  width: 44px;
  border-radius: 22px;
  color: #0f172a;
  background-color: #f1f5f9;
  margin-left: auto;
  cursor: pointer;
  flex-shrink: 0;
}

.closeButton:hover {
  background-color: #e2e8f0;
}

.titleContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 32px 0;
  gap: 4px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 22px;
  overflow: auto;
  flex: 1;
}

.createButton {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 44px;
  padding: 0 22px;
  gap: 11px;
  font-weight: 600;
  border-radius: 5.5px;
  background-color: #2563eb;
  color: white;
  margin-top: auto;
}

.createButton:hover {
  background-color: #3b82f6;
}
