.main {
    height: 44px;
    width: 44px;
    border-radius: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: #f1f5f9;
    color: #cbd5e1;
    overflow: hidden;
    flex-shrink: 0;
    flex-grow: 0;
}

.main img {
    height: 44px;
    width: 44px;
}